.*.swp
.DS_Store
*-private.*
vendor/
Gopkg.lock

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc